@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 100vh;
  background: url("/venti/img/venti.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background: #738a6e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.profile card {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

nav a:hover {
  font-weight: bold;
}

#content {
  flex: 5;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-color: #d1dccf;
  columns: row;
}

.featured-image {
  width: 50%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;
}

main {
  padding-top: 100px;
  display: flex;
  gap: 2rem;
  padding-inline: 20px;
  padding-bottom: 20px;
}

aside {
  flex: 1;
}

.profile img {
  padding-top: 5px;
  max-width: 250px;
  border-radius: 10px;
}

.ryeon {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

h2 {
  padding-inline: 45px;
  font-size: 30px;
  color: black;
}
h3 {
  text-align: center;
}

.profile header {
  text-align: center;
}

.table {
  text-align: left;
}

.fa-instagram {
  font-size: 20px;
  padding: 0px;
}

.fa-github {
  font-size: 20px;
}

.fa-envelope {
  font-size: 20px;
}

.fa-steam {
  font-size: 20px;
}

footer {
  padding: 20px 10px;
  color: white;
  background-color: #738a6e;

  text-align: center;
  font-weight: bold;
}

.fuyu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.fuyu {
  line-height: 1.8;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.fuyu img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fuyu-card {
  padding: 20px;
}

.fuyu-card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

#ch {
  display: none;
}

#ca {
  display: none;
}

#cb {
  display: none;
}

#cc {
  display: none;
}

#cd {
  display: none;
}

#ce {
  display: none;
}

#cf {
  display: none;
}

#cg {
  display: none;
}

#cj {
  display: none;
}

#ck {
  display: none;
}

#cl {
  display: none;
}

#cl:checked ~ .natsu {
  display: block;
}

#cl:checked ~ label {
  display: none;
}

#ck:checked ~ .natsu {
  display: block;
}

#ck:checked ~ label {
  display: none;
}

#cj:checked ~ .natsu {
  display: block;
}

#cj:checked ~ label {
  display: none;
}

#ci {
  display: none;
}

#ci:checked ~ .natsu {
  display: block;
}

#ci:checked ~ label {
  display: none;
}

#cg:checked ~ .natsu {
  display: block;
}

#cg:checked ~ label {
  display: none;
}

#cf:checked ~ .natsu {
  display: block;
}

#cf:checked ~ label {
  display: none;
}

#ce:checked ~ .natsu {
  display: block;
}

#ce:checked ~ label {
  display: none;
}

#cd:checked ~ .natsu {
  display: block;
}

#cd:checked ~ label {
  display: none;
}

#cc:checked ~ .natsu {
  display: block;
}

#cc:checked ~ label {
  display: none;
}

#cb:checked ~ .natsu {
  display: block;
}

#cb:checked ~ label {
  display: none;
}

#ca:checked ~ .natsu {
  display: block;
}

#ca:checked ~ label {
  display: none;
}

#ch:checked ~ .natsu {
  display: block;
}

#ch:checked ~ label {
  display: none;
}

.natsu {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 3px 13px;
  border-radius: 3px;
  margin-top: 12px;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}
