@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 100vh;
  background: url("/venti/img/venti.jpg");
  background-size: cover;
  background-position: center;
  cursor: url("/venti/img/cursor.png"), auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  cursor: url("/venti/img/cursor.png"), auto;
}

.profile card {
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  cursor: url("/venti/img/cursor.png"), auto;
}

nav a:hover {
  font-weight: bold;
  cursor: url("/venti/img/cursor.png"), auto;
}

#content {
  flex: 5;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  columns: row;
}

.featured-image {
  width: 50%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;
}

main {
  padding-top: 100px;
  display: flex;
  gap: 2rem;
  padding-inline: 20px;
  padding-bottom: 20px;
}

aside {
  flex: 1;
}

.profile img {
  max-width: 250px;
  border-radius: 10px;
}

.ryeon {
  font-size: 32px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

h3 {
  text-align: center;
}

.profile header {
  text-align: center;
}

.table {
  text-align: left;
}

.fa-instagram {
  font-size: 20px;
  padding: 0px;
}

.fa-github {
  font-size: 20px;
}

.fa-envelope {
  font-size: 20px;
}

footer {
  padding: 20px 10px;
  color: black;
  background-color: white;

  text-align: center;
  font-weight: bold;
}

.fuyu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.fuyu {
  width: 325px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fuyu-haru {
  padding: 20px;
}

.fuyu-haru h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
